@mixin btn-color($map) {

    @each $button,
    $colors in $buttons {
        .#{$button} {
            background-color: $colors;
        }
        
        .#{$button}:hover {
            background-color: lighten($colors, 10%);
        }
    }
}

@mixin img() {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;
    @content;
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    @content;
}

@mixin flexy(
    $disp: flex,
    $basis: null,
    $direction: null,
    $justify: null,
    $items: null) {
    display: $disp;
    flex-basis: $basis;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    @content;
}
