// ======================================
//  Variables
// ======================================

//Colors
$white: #fff;

$universal-color: #777;
$typography-color: #58e1c1;
$link-color: #51ddfc;
$theme-color: #927bc1;
$img-frame-color: #ccc;

//Media Queries
$med: 768px;