// ======================================
//  Variables
// ======================================

//Colors
$white: #fff;

$universal-color: #777;
$typography-color: #58e1c1;
$link-color: #51ddfc;
$img-frame-color: #ccc;

//Media Queries
$med: 768px;

//Map

$buttons: (
    'default': $link-color,
    'error': #e4757a,
    'info': #927bc1,
    'success': #63cc82,
    'warning': #fd7856,
);