/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: 100%;
}

.input {
    display: block;
    width: 94%;
    margin: 10px auto 0;
    border: none;
    padding: 10px;
    border-bottom: 5px solid $typography-color;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}



/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
    &-avatar {
        @include img;
        max-height: 100%;
    }

    &-frame {
        @include img;
        padding: 13px;
        border: 1px solid #ccc;

        &-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}



/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $med) {

    .container {
        @include center;
        max-width: 1400px;
    }

    .centered {
        @include center;
    }

    .row {
        flex-direction: row;
    }

    [class^=col] {
        @include flexy($disp, $justify: center, $items: center);
        margin-top: 0;

        & + [class^=col] {
            margin-left: 10px;
        }

    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            flex-basis: ($i/12) * 100;
        }
    }

    .nav {
        @include flexy($direction: row, $justify: flex-end, $items: center);
        &-link {
            flex-basis: 100px;
        }

        .btn {
            padding: 10px 30px;
        }
    }

    .btn + .btn {
        margin-left: 10px;
    }

    .logo {
        margin-left: initial;
        margin-right: initial;
    }

}
